In [1]:
import asyncio

import aiohttp

import aiomoex
import pandas as pd

In [87]:
async def main():
    # request_url = "https://iss.moex.com/iss/engines/stock/" "markets/shares/boards/TQBR/securities.json"
    request_url = "https://iss.moex.com/iss/engines/stock/" "markets/shares/securities/SBER/trades.json"
    # arguments = {"securities.columns": ("SECID," "REGNUMBER," "LOTSIZE," "SHORTNAME")}
    # arguments = {"securities.columns": ("SECID", "REGNUMBER", "LOTSIZE", "SHORTNAME")}
# https://iss.moex.com/iss/engines/stock/markets/shares/securities/AFLT/trades.xml

    async with aiohttp.ClientSession() as session:
        iss = aiomoex.ISSClient(session, request_url, {'reversed': 1, 'limit': 1})
        data = await iss.get()
        df = pd.DataFrame(data["trades"])
        # df.set_index("SECID", inplace=True)
        # print(df.head(), "\n")
        # print(df.tail(), "\n")
        # df.info()

    return df

df_ticks = await main()

In [88]:
df_ticks

,TRADENO,TRADETIME,BOARDID,SECID,PRICE,QUANTITY,VALUE,PERIOD,TRADETIME_GRP,SYSTIME,BUYSELL,DECIMALS,TRADINGSESSION,TRADEDATE,TRADE_SESSION_DATE
0,12631604584,21:47:13,TQBR,SBER,319.29,35,111751.5,N,2147,2025-03-11 21:47:13,B,2,2,2025-03-11,2025-03-11

In [9]:
async def main():
    async with aiohttp.ClientSession() as session:
        data = await aiomoex.get_board_history(session, 'SNGSP')
        df = pd.DataFrame(data)
        df.set_index('TRADEDATE', inplace=True)
        print(df.head(), '\n')
        print(df.tail(), '\n')
        df.info()

await main()

           BOARDID  CLOSE    VOLUME         VALUE
TRADEDATE
2014-06-09    TQBR  27.48  12674200  3.484352e+08
2014-06-10    TQBR  27.55  14035900  3.856417e+08
2014-06-11    TQBR  28.15  27208800  7.602146e+08
2014-06-16    TQBR  28.27  68059900  1.913160e+09
2014-06-17    TQBR  28.20  22101600  6.292844e+08

           BOARDID   CLOSE    VOLUME         VALUE
TRADEDATE
2025-03-04    TQBR  55.995  57512650  3.232298e+09
2025-03-05    TQBR  55.135  51382300  2.857517e+09
2025-03-06    TQBR  54.355  34269940  1.872701e+09
2025-03-07    TQBR  54.965  38897460  2.132026e+09
2025-03-10    TQBR  54.760  18958100  1.042672e+09

<class 'pandas.core.frame.DataFrame'>
Index: 2717 entries, 2014-06-09 to 2025-03-10
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   BOARDID  2717 non-null   object
 1   CLOSE    2699 non-null   float64
 2   VOLUME   2717 non-null   int64
 3   VALUE    2717 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 106.1+ KB

In [15]:
from datetime import datetime, timedelta

In [48]:
im = {'D': 24, 'W': 7, 'H': 60, 'M': 31}

im.get('W', 24)

7

In [49]:
async def fetch_moex_data(ticker, timeframe='D', days=1825):
    """
    –ê—Å–∏–Ω—Ö—Ä–æ–Ω–Ω–∞—è –∑–∞–≥—Ä—É–∑–∫–∞ —Å–≤–µ—á–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö —Å –ú–æ—Å–∫–æ–≤—Å–∫–æ–π –±–∏—Ä–∂–∏ —á–µ—Ä–µ–∑ aiomoex.
    """
    # –û–ø—Ä–µ–¥–µ–ª—è–µ–º –∫–æ–Ω–µ—á–Ω—É—é –∏ –Ω–∞—á–∞–ª—å–Ω—É—é –¥–∞—Ç—ã
    end_date = datetime.now()
    start_date = end_date - timedelta(days=days)

    # –ü—Ä–∏–≤–æ–¥–∏–º –∫ —Å—Ç—Ä–æ–∫–æ–≤–æ–º—É —Ñ–æ—Ä–º–∞—Ç—É YYYY-MM-DD
    start_str = start_date.strftime('%Y-%m-%d')
    end_str = end_date.strftime('%Y-%m-%d')

    # –ú–∞–ø–ø–∏–Ω–≥ –∏–Ω—Ç–µ—Ä–≤–∞–ª–æ–≤
    # interval_map = {'D': 24, 'W': 7, 'H': 60, 'M': 31}
    # interval = interval_map.get(timeframe, 24)  # –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –¥–Ω–µ–≤–Ω—ã–µ —Å–≤–µ—á–∏
    interval = 1

    print(f"üìä –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è {ticker} —Å {start_str} –ø–æ {end_str} (—Ç–∞–π–º—Ñ—Ä–µ–π–º: {timeframe})")

    async with aiohttp.ClientSession() as session:
        # –ó–∞–ø—Ä–∞—à–∏–≤–∞–µ–º —Å–≤–µ—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ
        data = await aiomoex.get_market_candles(
            session,
            security=ticker,
            interval=interval,
            start=start_str,
            end=end_str
        )

    # –ü—Ä–æ–≤–µ—Ä—è–µ–º, –µ—Å—Ç—å –ª–∏ –¥–∞–Ω–Ω—ã–µ
    if not data:
        raise ValueError(f"‚ùå –ù–µ —É–¥–∞–ª–æ—Å—å –ø–æ–ª—É—á–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è {ticker} –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ {days} –¥–Ω–µ–π")

    # –°–æ–∑–¥–∞–µ–º DataFrame
    df = pd.DataFrame(data)

    # –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º –∫–æ–ª–æ–Ω–∫–∏
    column_mapping = {
        'begin': 'Date',
        'open': 'Open',
        'high': 'High',
        'low': 'Low',
        'close': 'Close',
        'value': 'Volume' # –µ—Å–ª–∏ volume, —Ç–æ –æ–±—ä—ë–º —Ç–æ—Ä–≥–æ–≤ –≤ —à—Ç—É–∫–∞—Ö
    }
    df = df.rename(columns=column_mapping)

    # –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –¥–∞—Ç—É –≤ datetime –∏ —Å—Ç–∞–≤–∏–º –∏–Ω–¥–µ–∫—Å
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)

    # –û—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã
    df = df[['Open', 'High', 'Low', 'Close', 'Volume']]

    print(f"‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ {len(df)} —Å–≤–µ—á–µ–π –¥–ª—è {ticker}")

    return df, start_str, end_str 

await main()

           BOARDID  CLOSE    VOLUME         VALUE
TRADEDATE
2014-06-09    TQBR  27.48  12674200  3.484352e+08
2014-06-10    TQBR  27.55  14035900  3.856417e+08
2014-06-11    TQBR  28.15  27208800  7.602146e+08
2014-06-16    TQBR  28.27  68059900  1.913160e+09
2014-06-17    TQBR  28.20  22101600  6.292844e+08

           BOARDID   CLOSE    VOLUME         VALUE
TRADEDATE
2025-03-04    TQBR  55.995  57512650  3.232298e+09
2025-03-05    TQBR  55.135  51382300  2.857517e+09
2025-03-06    TQBR  54.355  34269940  1.872701e+09
2025-03-07    TQBR  54.965  38897460  2.132026e+09
2025-03-10    TQBR  54.760  18958100  1.042672e+09

<class 'pandas.core.frame.DataFrame'>
Index: 2717 entries, 2014-06-09 to 2025-03-10
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   BOARDID  2717 non-null   object
 1   CLOSE    2699 non-null   float64
 2   VOLUME   2717 non-null   int64
 3   VALUE    2717 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 106.1+ KB

In [50]:
df, start_str, end_str = await fetch_moex_data("SBER", timeframe='m5', days=100)

üìä –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è SBER —Å 2024-12-01 –ø–æ 2025-03-11 (—Ç–∞–π–º—Ñ—Ä–µ–π–º: m5)
‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ 62205 —Å–≤–µ—á–µ–π –¥–ª—è SBER

In [51]:
df

                       Open    High     Low   Close       Volume
Date
2024-12-02 09:59:00  237.02  237.02  237.02  237.02   21824801.6
2024-12-02 10:00:00  237.09  237.49  237.06  237.15  145894993.9
2024-12-02 10:01:00  237.14  237.90  237.03  237.90  132170307.0
2024-12-02 10:02:00  237.89  238.10  237.44  237.71  162964868.8
2024-12-02 10:03:00  237.71  237.83  237.54  237.60   88916069.6
...                     ...     ...     ...     ...          ...
2025-03-11 20:14:00  320.99  321.43  320.98  321.32   66049697.2
2025-03-11 20:15:00  321.28  321.29  321.14  321.14    2708202.2
2025-03-11 20:16:00  321.14  321.19  320.91  321.12   20165899.8
2025-03-11 20:17:00  321.10  321.11  321.00  321.01    6569017.2
2025-03-11 20:18:00  321.01  321.01  320.95  320.95     651621.1

[62205 rows x 5 columns]

In [31]:
df

              Open    High     Low   Close        Volume
Date
2020-03-12  185.15  187.87  173.14  175.91  3.564667e+10
2020-03-13  175.00  199.52  174.30  198.60  5.043423e+10
2020-03-16  194.00  196.70  186.00  195.85  3.346209e+10
2020-03-17  195.00  204.78  183.80  184.01  3.513444e+10
2020-03-18  179.00  182.20  172.15  174.27  2.743838e+10
...            ...     ...     ...     ...           ...
2025-03-05  316.40  318.30  313.00  313.56  1.825876e+10
2025-03-06  313.60  317.43  313.57  315.18  1.007412e+10
2025-03-07  315.19  321.87  310.69  316.92  3.513136e+10
2025-03-10  316.98  320.63  316.37  317.57  1.252320e+10
2025-03-11  317.70  321.98  315.57  320.07  1.377778e+10

[1252 rows x 5 columns]

In [33]:
async def fetch_moex_ticks(ticker, board="TQBR"):
    """
    –ê—Å–∏–Ω—Ö—Ä–æ–Ω–Ω–∞—è –∑–∞–≥—Ä—É–∑–∫–∞ —Ç–∏–∫–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö —Å –ú–æ—Å–∫–æ–≤—Å–∫–æ–π –±–∏—Ä–∂–∏ —á–µ—Ä–µ–∑ aiomoex.
    
    :param ticker: –¢–∏–∫–µ—Ä –±—É–º–∞–≥–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, "SBER")
    :param board: –¢–æ—Ä–≥–æ–≤–∞—è –ø–ª–æ—â–∞–¥–∫–∞ (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é "TQBR" - –æ—Å–Ω–æ–≤–Ω–æ–π —Ä—ã–Ω–æ–∫ –∞–∫—Ü–∏–π)
    :return: DataFrame —Å —Ç–∏–∫–æ–≤—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏
    """
    
    print(f"üìä –ó–∞–≥—Ä—É–∂–∞–µ–º —Ç–∏–∫–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ –¥–ª—è {ticker}...")

    async with aiohttp.ClientSession() as session:
        # –ó–∞–ø—Ä–æ—Å —Ç–∏–∫–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö —Å –ú–æ—Å–∫–æ–≤—Å–∫–æ–π –±–∏—Ä–∂–∏
        data = await aiomoex.get_market_trades(
            session,
            security=ticker,
            board=board
        )

    # –ü—Ä–æ–≤–µ—Ä—è–µ–º, –µ—Å—Ç—å –ª–∏ –¥–∞–Ω–Ω—ã–µ
    if not data:
        raise ValueError(f"‚ùå –ù–µ —É–¥–∞–ª–æ—Å—å –ø–æ–ª—É—á–∏—Ç—å —Ç–∏–∫–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ –¥–ª—è {ticker}")

    # –°–æ–∑–¥–∞–µ–º DataFrame
    df = pd.DataFrame(data)

    # –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º —Å—Ç–æ–ª–±—Ü—ã
    column_mapping = {
        'systime': 'Timestamp',  # –í—Ä–µ–º—è —Å–¥–µ–ª–∫–∏
        'price': 'Price',        # –¶–µ–Ω–∞ —Å–¥–µ–ª–∫–∏
        'quantity': 'Volume',    # –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª–æ—Ç–æ–≤
        'value': 'Value',        # –°—Ç–æ–∏–º–æ—Å—Ç—å —Å–¥–µ–ª–∫–∏ (—Ä—É–±–ª–∏)
        'seqnum': 'TradeID'      # ID —Å–¥–µ–ª–∫–∏
    }
    df = df.rename(columns=column_mapping)

    # –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤—Ä–µ–º—è –≤ datetime
    df['Timestamp'] = pd.to_datetime(df['Timestamp'])

    # –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –≤—Ä–µ–º–µ–Ω–∏ (–Ω–∞ –≤—Å—è–∫–∏–π —Å–ª—É—á–∞–π)
    df = df.sort_values(by="Timestamp")

    print(f"‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ {len(df)} —Ç–∏–∫–æ–≤ –¥–ª—è {ticker}")

    return df

In [79]:
df_ticks = await main()

# –ü—Ä–æ—Å–º–æ—Ç—Ä –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫
df_ticks.head()

       TRADENO TRADETIME BOARDID SECID   PRICE  QUANTITY    VALUE PERIOD  \
0  12625901918  06:50:00    SMAL  SBER  323.54         1   323.54      N
1  12625901926  06:51:48    SMAL  SBER  318.47         3   955.41      N
2  12625901927  06:51:48    SMAL  SBER  316.01         5  1580.05      N
3  12625901930  06:53:55    SMAL  SBER  318.43         3   955.29      N
4  12625901931  06:53:55    SMAL  SBER  318.44         6  1910.64      N

   TRADETIME_GRP              SYSTIME BUYSELL  DECIMALS TRADINGSESSION  \
0            650  2025-03-11 06:50:09       B         2              0
1            651  2025-03-11 06:51:49       B         2              0
2            651  2025-03-11 06:51:49       S         2              0
3            653  2025-03-11 06:53:55       B         2              0
4            653  2025-03-11 06:53:55       B         2              0

    TRADEDATE TRADE_SESSION_DATE
0  2025-03-11         2025-03-11
1  2025-03-11         2025-03-11
2  2025-03-11         2025-03-11
3  2025-03-11         2025-03-11
4  2025-03-11         2025-03-11

          TRADENO TRADETIME BOARDID SECID   PRICE  QUANTITY     VALUE PERIOD  \
4995  12626011829  09:26:54    TQBR  SBER  317.34        50  158670.0      N
4996  12626012018  09:27:03    TQBR  SBER  317.34         5   15867.0      N
4997  12626012030  09:27:05    TQBR  SBER  317.33         2    6346.6      N
4998  12626012031  09:27:05    TQBR  SBER  317.34        45  142803.0      N
4999  12626012032  09:27:05    TQBR  SBER  317.34        33  104722.2      N

      TRADETIME_GRP              SYSTIME BUYSELL  DECIMALS TRADINGSESSION  \
4995            926  2025-03-11 09:26:55       B         2              0
4996            927  2025-03-11 09:27:03       B         2              0
4997            927  2025-03-11 09:27:05       S         2              0
4998            927  2025-03-11 09:27:05       B         2              0
4999            927  2025-03-11 09:27:05       B         2              0

       TRADEDATE TRADE_SESSION_DATE
4995  2025-03-11         2025-03-11
4996  2025-03-11         2025-03-11
4997  2025-03-11         2025-03-11
4998  2025-03-11         2025-03-11
4999  2025-03-11         2025-03-11

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TRADENO             5000 non-null   int64
 1   TRADETIME           5000 non-null   object
 2   BOARDID             5000 non-null   object
 3   SECID               5000 non-null   object
 4   PRICE               5000 non-null   float64
 5   QUANTITY            5000 non-null   int64
 6   VALUE               5000 non-null   float64
 7   PERIOD              5000 non-null   object
 8   TRADETIME_GRP       5000 non-null   int64
 9   SYSTIME             5000 non-null   object
 10  BUYSELL             5000 non-null   object
 11  DECIMALS            5000 non-null   int64
 12  TRADINGSESSION      5000 non-null   object
 13  TRADEDATE           5000 non-null   object
 14  TRADE_SESSION_DATE  5000 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 586.1+ KB

,TRADENO,TRADETIME,BOARDID,SECID,PRICE,QUANTITY,VALUE,PERIOD,TRADETIME_GRP,SYSTIME,BUYSELL,DECIMALS,TRADINGSESSION,TRADEDATE,TRADE_SESSION_DATE
0,12625901918,06:50:00,SMAL,SBER,323.54,1,323.54,N,650,2025-03-11 06:50:09,B,2,0,2025-03-11,2025-03-11
1,12625901926,06:51:48,SMAL,SBER,318.47,3,955.41,N,651,2025-03-11 06:51:49,B,2,0,2025-03-11,2025-03-11
2,12625901927,06:51:48,SMAL,SBER,316.01,5,1580.05,N,651,2025-03-11 06:51:49,S,2,0,2025-03-11,2025-03-11
3,12625901930,06:53:55,SMAL,SBER,318.43,3,955.29,N,653,2025-03-11 06:53:55,B,2,0,2025-03-11,2025-03-11
4,12625901931,06:53:55,SMAL,SBER,318.44,6,1910.64,N,653,2025-03-11 06:53:55,B,2,0,2025-03-11,2025-03-11

In [80]:
df_ticks

,TRADENO,TRADETIME,BOARDID,SECID,PRICE,QUANTITY,VALUE,PERIOD,TRADETIME_GRP,SYSTIME,BUYSELL,DECIMALS,TRADINGSESSION,TRADEDATE,TRADE_SESSION_DATE
0,12625901918,06:50:00,SMAL,SBER,323.54,1,323.54,N,650,2025-03-11 06:50:09,B,2,0,2025-03-11,2025-03-11
1,12625901926,06:51:48,SMAL,SBER,318.47,3,955.41,N,651,2025-03-11 06:51:49,B,2,0,2025-03-11,2025-03-11
2,12625901927,06:51:48,SMAL,SBER,316.01,5,1580.05,N,651,2025-03-11 06:51:49,S,2,0,2025-03-11,2025-03-11
3,12625901930,06:53:55,SMAL,SBER,318.43,3,955.29,N,653,2025-03-11 06:53:55,B,2,0,2025-03-11,2025-03-11
4,12625901931,06:53:55,SMAL,SBER,318.44,6,1910.64,N,653,2025-03-11 06:53:55,B,2,0,2025-03-11,2025-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,12626011829,09:26:54,TQBR,SBER,317.34,50,158670.00,N,926,2025-03-11 09:26:55,B,2,0,2025-03-11,2025-03-11
4996,12626012018,09:27:03,TQBR,SBER,317.34,5,15867.00,N,927,2025-03-11 09:27:03,B,2,0,2025-03-11,2025-03-11
4997,12626012030,09:27:05,TQBR,SBER,317.33,2,6346.60,N,927,2025-03-11 09:27:05,S,2,0,2025-03-11,2025-03-11
4998,12626012031,09:27:05,TQBR,SBER,317.34,45,142803.00,N,927,2025-03-11 09:27:05,B,2,0,2025-03-11,2025-03-11
4999,12626012032,09:27:05,TQBR,SBER,317.34,33,104722.20,N,927,2025-03-11 09:27:05,B,2,0,2025-03-11,2025-03-11

In [77]:
df_ticks[df_ticks['TRADETIME'] == '11:00:03']

Empty DataFrame
Columns: [TRADENO, TRADETIME, BOARDID, SECID, PRICE, QUANTITY, VALUE, PERIOD, TRADETIME_GRP, SYSTIME, BUYSELL, DECIMALS, TRADINGSESSION, TRADEDATE, TRADE_SESSION_DATE]
Index: []